# Ignore docs files
_gh_pages
_site
.ruby-version
.sass-cache

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# Komodo
*.komodoproject
.komodotools

# grunt-html-validation
validation-status.json
validation-report.json

# Folders to ignore
node_modules
left-out
icef/
!icef/2/matec/matec_notes.pdf
!icef/2/matec/matec_notes-full.pdf

# too much insight
insight
!insight/index.html
!insight/insights.html
!insight/tweets.py
!insight/twitter.js

# too much of twitter generally

other
!other/other_tweets/index.html
!other/other_tweets/tweets.html
!other/other_tweets/tweets.py
!other/other_tweets/twitter.js

# ignore x files
todo.txt