<hr>

Feel free to share your thoughts on this post with me!

<ul class="social-links">
        <li>
            <a class="social-icon" target="_blank" href="mailto:alex@guzey.com">
                <div data-icon="ei-envelope"></div>
            </a>
        </li>
        <li>
            <a class="social-icon" target="_blank" href="https://twitter.com/alex_guzey">
                <div data-icon="ei-sc-twitter"></div>
            </a>
        </li>
        <li>
            <a class="social-icon" target="_blank" href="https://facebook.com/rationalnoodles">
                <div data-icon="ei-sc-facebook"></div>
            </a>
        </li>
        <li>
            <a class="social-icon" target="_blank" href="https:/vk.com/alexeyguzey">
                <div data-icon="ei-sc-vk"></div>
            </a>
        </li>
    </ul>