* {
    padding: 0; margin: 0;
    -webkit-tap-highlight-color:transparent;
}

body {
    height: 100%;
    overflow: hidden;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.game {
    position: relative;
}

#gameCanvas {
    background: #dfdfdf;
    position: absolute;
}
/*canvas { background: #eee; display: block; margin: 0 auto; }*/

#interface {
    height: 31%;
    position: fixed;
    bottom:0%;
    width:100%;
    background-color: #c2c2c2;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
}
.interface_button {
    background-color: #8f8f8f;
    color: #48488d;
    box-shadow: 3px 4px 0px 0px #899599;
    border: 1px solid #636363;
    cursor: pointer;
    text-shadow: 0px 1px 0px #2f6627;
    user-select: none;
    text-align: center;
}
.interface_button:hover {
    background-color: #888888;
}
.interface_button:active {
    background-color: #666666;
}
.open_menu_button {
    background-color: #8f8f8f;
    color: #48488d;
    box-shadow: 2px 3px 0px 0px #899599;
    border: 1px solid #636363;
    cursor: pointer;
    text-shadow: 0px 1px 0px #2f6627;
    user-select: none;
    text-align: center;
}
.open_menu_button:hover {
    background-color: #888888;
}
.open_menu_button:active {
    background-color: #666666;
}
#menu {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 100px;
    height: 100px;
    background-color: #8f8f8f;
    color: #48488d;
    box-shadow: 3px 4px 0px 0px #899599;
    border: 1px solid #636363;
    cursor: pointer;
    text-shadow: 0px 1px 0px #2f6627;
    user-select: none;
    text-align: center;
}